<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Stock Transfer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> 
    <link rel="stylesheet" href="~/stock_transfer.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="dashboard">
        <div class="sidebar">
            <div class="logo-container">
                <div class="logo"></div>
                <div class="outlet">HQ</div>
            </div>
            <ul class="menu" id="menu">           
                <li data-page="/Index">
                    <i class="fa fa-home"></i>
                    Dashboard
                </li>
                <li data-page="/StockTransfer">
                    <i class="fa fa-exchange"></i>
                    Stock Transfer
                </li>
                <li data-page="/Items">
                    <i class="fas fa-box"></i>Items
                </li>
                <li data-page="/Inventory">
                    <i class="fa fa-archive"></i>Inventory
                </li>
                <li data-page="/Store">
                    <i class="fas fa-store"></i>Store
                </li> 
                <!-- Add more menu items as needed -->
            </ul>
        </div>
        <div class="content">
            <div class="topbar">
                <div class="menu-toggle">
                    <i class="fa fa-bars"></i>
                </div>
                <div class="user-profile">
                    <span>
                        <partial name="_LoginPartial" />
                    </span>

                </div>
            </div>
            <div class="menu-content">
                @RenderBody()
            </div>

        </div>
    </div>
    <!--
    <header>
         <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
             <div class="container">
                 <a class="navbar-brand" asp-area="" asp-page="/Index">ezyshare_calendar</a>
                 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                         aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                 </button>
                 <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                     <ul class="navbar-nav flex-grow-1">
                         <li class="nav-item">
                             <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                         </li>
                         <li class="nav-item">
                             <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                         </li>
                     </ul>
                 </div>
             </div>

             <partial name="_LoginPartial" />
         </nav>
     </header>

     <div class="container">
         <main role="main" class="pb-3">
             @RenderBody()
         </main>
     </div>

     <footer class="border-top footer text-muted">
         <div class="container">
             &copy; 2023 - Stock Transfer - <a asp-area="" asp-page="/Privacy">Privacy</a>
         </div>
     </footer>
     -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/layout.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>